.div-laranja {
    background-color: orange;
    border: 3px solid green;
    padding: 20px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.div-roxa {
    background-color: purple;
    border-top: 4px solid yellow;
    border-bottom: 4px solid yellow;
    border-left: 4px solid brown;
    border-right: 4px solid brown;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-align: center;
}
h1 {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}
p {
    font-family:'Helvetica';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
}